*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 500vh;
    width:auto;
}
header{
    height:25vh;
    
}

.buscador {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50vh;
    border: 1px solid rgb(51, 43, 43);
    border-radius: 5px;
    justify-content: space-between;
    padding: 10px;
}
.buscador img{
    display: flex;
    height: 20px;
    width: 20px;
}
.atendimento{
    height: 50px;
    width: 130px;
    border-radius: 5px;
    background-color: #c6930a;
    border: white;
    color: white;

}

.carrinho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 130px;
    background-color: #c6930a;
    border: white;
    color: white;
    border-radius: 5px;

    
}

.carrinho img{
    height: 20px;
    width: 20px;
    margin: 0px 10px;

}

.container1 {
    height: 20vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0px 10vh;

}
.container2 {
    background-color: rgb(19, 19, 19);
    
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0vh 10vh;
    height: 6vh;
    align-items: center;
    color: wheat;
}

main{
    display: flex;
    height: 100vh;
    width: auto;
    align-items: center;
    justify-content: center;
}

.container-card{
    display: flex;
    gap: 40px;

}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50vh;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    
}
.cards:hover{
    box-shadow: 3px 3px 7px 2px rgb(88, 79, 79);
    transition-duration: 1,0s;

}
.img-estrelas{
    position: relative;
}
.estrelas {
    color: gold;
    font-size: 30px;
    position: absolute;
    z-index: 1;
    
}
.cards img{
    display: flex;
    height: 250px;
    width: 250px;
    position: relative;
    top: 20px;

}
.informacoes{
    display: flex;
    height: 150px;
    width: auto;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-content: space-between;

}
.informacoes h2{
    color: rgb(14, 119, 14);
    font-size: 30px;
}